.icon {
  height: 1rem;
}

.header {
  display: inline;
  margin-left: 0.5rem;
  color: #6a6a6a;
}

.list {
  color: #6a6a6a;
  line-height: 1.3rem;
}

.headerContainer {
  margin-bottom: 1.5rem;
}

.container {
  width: 30vh;
}
