import * as React from 'react';
const styles = require('./blog-item.css');

export const {{ComponentName}}: React.SFC = () => (
  <div className={styles.container}>
    <div className={styles.blogContainer}>
    {{content}}
    </div>
  </div>
);
