import * as Loadable from 'react-loadable';
import * as React from 'react';

export const {{componentName}} = Loadable({
  loader: () => import('./{{fileName}}' /* webpackChunkName: "blog" */),
  loading: () => <h1>Loading..</h1>
});